[init]
	defaultBranch = main
[gpg]
	format = ssh
[user]
	signingkey = {{ onepasswordRead "op://dotfiles/ssh_my/public_key" }}
	name = {{ onepasswordRead "op://dotfiles/ssh_my/name" }}
	email = {{ onepasswordRead "op://dotfiles/ssh_my/email" }}
[core]
{{- if eq .chezmoi.os "windows" }}
	editor = code -n -w
{{- end }}
{{- if eq .chezmoi.os "linux" }}
	editor = vim
{{- if (.chezmoi.kernel.osrelease | lower | contains "microsoft") }}
	sshCommand = "ssh.exe"
{{- end }}
{{- end }}
	eol = lf
	autocrlf = input
[gpg "ssh"]
	allowedSignersFile = ~/.config/git/allowed_signers
	program = {{ env "USERPROFILE" }}/AppData/Local/1Password/app/8/op-ssh-sign.exe
[tag]
	gpgsign = true
[commit]
	gpgsign = true
[pull]
	rebase = true
[push]
	autoSetupRemote = true
[log]
	showSignature = true
