# Start ssh-agent
if ! pgrep -u "$USER" ssh-agent > /dev/null; then
  ssh-agent > "${HOME}/.ssh-agent-configuration"
fi
if [[ ! "$SSH_AUTH_SOCK" ]]; then
  eval "$(<"${HOME}/.ssh-agent-configuration")"
fi
ssh-add ~/.ssh/id_ed25519 </dev/null
ssh-add ~/.ssh/id_rsa_tempest </dev/null
